@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F25C05, #D92B04  );
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(8, 126, 126, 0.719);
    width: 1000px;
    padding: 10px;
    margin: auto;
}

video {
    border-radius: 80px;
}

h1 {
    color: #F2B705;
}

h2 {
    color: #F28705;
}

h4 {
    text-align: justify;
}